<%= form_for @request_section do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :section_id %><br />
    <%= f.text_field :section_id %>
  </p>
  <p>
    <%= f.label :request_id %><br />
    <%= f.text_field :request_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
