<% title "Secciones" %>

<table>
  <tr>
    <th>Seccion</th>
    <th>RFP</th>
    <th>Comentario</th>
  </tr>
  <% for request_section in @request_sections %>
    <tr>
      <td><%= request_section.section_id %></td>
      <td><%= request_section.request_id %></td>
      <td><%= request_section.comment %></td>
      <td><%= link_to "Detalles", request_section %></td>
      <td><%= link_to "Editar", edit_request_section_path(request_section) %></td>
      <td><%= link_to "Eliminar", request_section, :confirm => '¿Está seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Crear nueva seccion", new_request_request_section_path %></p>
