<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label 'Apellido' %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label 'Nombre de usuario' %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label 'E-mail' %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit 'Crear' %></p>
<% end %>
