<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t(:first_name) %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label t(:last_name) %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label t(:username)%><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label t(:password) %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label t(:email) %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label t(:admin) %>
    <%= f.check_box :admin %>
  </p>
  <p><%= f.submit t(:create) %></p>
<% end %>
