<% title "Users" %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Nombre de usuario</th>
    <th>E-mail</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Perfil", user %></td>
      <td><%= link_to "Editar", edit_user_path(user) %></td>
      <td><%= link_to "Eliminar", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Registrar usuario", new_user_path %></p>
