<% title "Usuario" %>

<div id="user-info">
  <p>
    <strong>Nombre:</strong>
    <%= @user.first_name %>
  </p>
  <p>
    <strong>Apellido:</strong>
    <%= @user.last_name %>
  </p>
  <p>
    <strong>Nombre de usuario:</strong>
    <%= @user.username %>
  </p>
  <p>
    <strong>E-mail:</strong>
    <%= @user.email %>
  </p>

</div>

<div id="user-section-roles">
  <h2>Roles pendientes</h2>
  <ul>
    <% for section_role in @user.section_roles.pending %>
      <li>
        <%= section_role.request_section.request.name %>(<em><%= section_role.request_section.section.name %></em>)
        <%= link_to "Calificar", new_rate_path(:id => section_role.id) %>
      </li>
    <% end -%>
    <%= link_to "Ver todos", user_section_roles_path(@user) %>
  </ul>
</div>

<p>
  <%= link_to "Editar datos", edit_user_path(@user) %> |
  <%= link_to "Eliminar", @user, :confirm => '¿Está seguro?', :method => :delete %> |
  <%= link_to "Ver todos", users_path %>
</p>
