<% title "Sections" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for section in @sections %>
    <tr>
      <td><%= section.name %></td>
      <td><%= link_to "Show", section %></td>
      <td><%= link_to "Edit", edit_section_path(section) %></td>
      <td><%= link_to "Destroy", section, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Section", new_section_path %></p>
