<% title "Secciones" %>

<table>
  <tr>
    <th>Nombre</th>
  </tr>
  <% for section in @sections %>
    <tr>
      <td><%= section.name %></td>
      <td><%= link_to "Detalle", section %></td>
      <td><%= link_to "Editar", edit_section_path(section) %></td>
      <td><%= link_to "Eliminar", section, :confirm => '¿Está seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nueva Seccion", new_section_path %></p>
