<%= form_for @request, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t(:start_date) %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label t(:decision_date) %><br />
    <%= f.date_select :decision_date %>
  </p>
  <p>
    <%= f.label t(:company) %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label t(:file) %><br />
    <%= f.file_field :file_upload %>
  </p>
  <p><%= f.submit t(:register) %></p>
<% end %>
