<%= form_for @request, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Fecha de inicio' %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label 'Fecha de decision' %><br />
    <%= f.date_select :decision_date %>
  </p>
  <p>
    <%= f.label 'Compañía' %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label 'Archivo' %><br />
    <%= f.file_field :file_upload %>
  </p>
  <p><%= f.submit 'Crear' %></p>
<% end %>
