<% title "RFP's" %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha de inicio</th>
    <th>Fecha de decision</th>
    <th>Compañía</th>
    <th>Estado</th>
    <th>Puntaje</th>
    <th>Comentario</th>
  </tr>
  <% for request in @requests %>
    <tr>
      <td><%= request.name %></td>
      <td><%= request.start_date %></td>
      <td><%= request.decision_date %></td>
      <td><%= request.company %></td>
      <td><%= request.status %></td>
      <td><%= request.average %></td>
      <td><%= request.comment %></td>
      <td><%= link_to "Administrar", request %></td>
      <td><%= link_to "Ver", "/upload/rfp/#{request.filename}" %></td>
      <td><%= link_to "Editar", edit_request_path(request) %></td>
      <td><%= link_to "Eliminar", request, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Registrar RFP", new_request_path %></p>
<p><%= link_to "Registrar usuario", new_user_path %></p>
