<% title "RFP's" %>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:start_date) %></th>
    <th><%= t(:decision_date) %></th>
    <th><%= t(:company) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:score) %></th>
    <th><%= t(:comment) %></th>
  </tr>
  <% for request in @requests %>
    <tr>
      <td><%= request.name %></td>
      <td><%= request.start_date %></td>
      <td><%= request.decision_date %></td>
      <td><%= request.company %></td>
      <td><%= request.status %></td>
      <td><%= "%0.2f" % request.average %></td>
      <td><%= request.comment %></td>
      <td><%= link_to "Administrar", request %></td>
      <td><%= link_to "Ver", "/upload/rfp/#{request.filename}" %></td>
      <td><%= link_to "Editar", edit_request_path(request) %></td>
      <td><%= link_to "Eliminar", request, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Registrar RFP", new_request_path %></p>
<p><%= link_to "Registrar usuario", new_user_path %></p>
