<% title "Request" %>

<div id="general-info">
  <div id="rfp-info">
    <h2><%= @request.name %></h2>
  </div>
  <div id="responsibles">
    <ul>
      <% for user in @request.users %>
        <li><%= user.name %></li>
      <% end -%>
    </ul>
    <%= link_to "Agregar responsable", new_request_section_role_path(@request) %>
  </div>
  <div id="sections">
    <ul>
      <% for section in @request.sections %>
        <li><%= section.name %></li>
      <% end -%>
    </ul>
    <%= link_to "Agregar sección", new_request_request_section_path(@request) %>
  </div>
</div>

<div id="status">
  
</div>


<p>
  <%= link_to "Edit", edit_request_path(@request) %> |
  <%= link_to "Destroy", @request, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", requests_path %>
</p>
