<%= form_for @section_item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :request_section_id %><br />
    <%= f.text_field :request_section_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>
