<% title "Items" %>

<table>
  <tr>
    <th>Sección</th>
    <th>Item</th>
    <th>Valor</th>
  </tr>
  <% for section_item in @section_items %>
    <tr>
      <td><%= section_item.request_section_id %></td>
      <td><%= section_item.name %></td>
      <td><%= section_item.value %></td>
      <td><%= link_to "Detalle", section_item %></td>
      <td><%= link_to "Editar", edit_section_item_path(section_item) %></td>
      <td><%= link_to "Eliminar", section_item, :confirm => '¿Está seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuevo item", new_section_item_path %></p>
