<% title "Section Item" %>

<p>
  <strong>Request Section:</strong>
  <%= @section_item.request_section_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @section_item.name %>
</p>
<p>
  <strong>Value:</strong>
  <%= @section_item.value %>
</p>

<p>
  <%= link_to "Edit", edit_section_item_path(@section_item) %> |
  <%= link_to "Destroy", @section_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", section_items_path %>
</p>
