<% title "Item" %>

<p>
  <strong>Sección:</strong>
  <%= @section_item.request_section_id %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @section_item.name %>
</p>
<p>
  <strong>Valor:</strong>
  <%= @section_item.value %>
</p>

<p>
  <%= link_to "Editar", edit_section_item_path(@section_item) %> |
  <%= link_to "Eliminar", @section_item, :confirm => '¿Está seguro?', :method => :delete %> |
  <%= link_to "Ver todos", section_items_path %>
</p>
