<% title "#{@section_role.request_section.request.name} "%>
<h2><%= "#{@section_role.request_section.section.name}" %></h2>

<p><strong>Puntaje: </strong><%= @section_role.average %></p>

<%= semantic_form_for [@section_role.user, @section_role] do |form| %>
  <%= form.inputs do %>
    <%= form.input :status, :label => "¿Apoya este RFP?", :as => :radio, :collection => @options %>
    <%= form.input :comment, :label => "Comentario" %>
  <% end -%>
  <%= form.buttons %>
<% end -%>
